$font-stack: sans-serif;
$primary-color: rgb(216, 50, 50);


  
body {
    display: block;
    //width: 100vw;
    margin: 0;
    background-color: rgb(255, 255, 255);
}



//header//
.header-top {
    width: 100%;
    height: 40px;
    background-color: rgb(247, 210, 238);
    margin-top: 0;
    padding-top: 0;
}

.containders {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    align-items: center;
    
    
    
    .navigation {
        

        .menu {
            display: flex;
            list-style: none;
            font-family: 'Courier New', Courier, monospace;
            color: rgb(3, 29, 29);
            align-items: center;

            a {
                text-decoration: none;
                li {
                
                    border: 1px solid black;
                    padding: 1em;
                    margin: 1em;
                    align-items: center;
                    
                }
            }
            
        }
    }

    .search {
        
        .search-form {
    
            .input-container {
                
                position: relative;
                
                .input-search {

                    border-radius: 100px;
                    width: 20rem;
                    height: 45px;
                    border: 1px solid #d0d0d0;
                    padding-left: 1em;
                    
                }
        
                .fa-magnifying-glass {
                    
                    position: absolute;
                    left: 19em;
                    z-index: 1;
                    top: 15px;
        
                }
            }
        }
    }
}

//d & g container//
.dg-container {
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 10em;
    gap: 10em;

        .dolce-gabbana {
            width: 30%;
            transition: 0.5s;

            img {
                height: 500px;
            }

            &:hover {
                transform: scale(1.2);
            }
        }

        .dolce-gabbana-decription {
            display: flex;
            flex-direction: column;
            width: 30%;
            justify-content: end;
            font-family: arial;

            p {
                font-size: 18px;
                
            }
            

            button {
                
                width: 70px;
                background-color: transparent;
                border-radius: 15px;
                height: 25px;
            }
        }
}


//footer//
footer {
    background-color: rgb(247, 210, 238);
}
.footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    

    .footer-elegant-aura {
        font-size: 20px;

        ul {
            list-style: none;
            margin-top: 3rem;

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    text-decoration: underline;
                }
                
                li {
                    font-size: 16px;
                    margin-top: 5px;
                }
            }
        }
        
    }

    .footer-kundservice {
        font-size: 20px;
        
        
        ul {
            list-style: none;
            margin-top: 3rem;

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    text-decoration: underline;
                }
                
                li {
                    font-size: 16px;
                    margin-top: 5px;
                }
            }
        }

    }

    .footer-media {
        display: flex;
        
        div {
            font-size: 1.5em;
            margin: 10px;
            margin-top: 3rem;

            a {
                color: black;
            }
        }
    }

}

//footer-bottom kontakt//

.footer-kontakt-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15px;
        padding-right: 1rem;
        gap: 1rem;
        border-right: 2px solid black;

        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;

            a {
                margin-bottom: 0px;
                color: black;
                text-decoration: none;
            }
        }
    }

    .bottom-contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;

        }
        span {
            .far {
                font-weight: 400;
            }
        }
    }
}